@using Myshop.App_Start;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/App/Common/Utility.js"></script>
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/App/Common/Validate.js"></script>
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/App/Common/DatetimePicker.js"></script>
    <script src="~/Scripts/App/Common/App.js"></script>
    <script src="~/Scripts/App/Common/Utility.js"></script>
    <script src="~/Scripts/App/Common/Validate.js"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(WebSession.ShopName, "Home", "Main", new { area = "Global" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Global Home", "Home", "Main", new { area = "Global" }, null)</li>
                    @if (Session["username"] != null && Session["username"].ToString() != "" && Session["name"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/bank.png" />
                                    @Html.ActionLink("Bank", "GetBank", "Masters", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/BankAccount.png" />
                                    @Html.ActionLink("Bank Account", "GetBankAccount", "Masters", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/type.png" />
                                    @Html.ActionLink("Account Type", "GetAccountType", "Masters", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/paymentMode.png" />
                                    @Html.ActionLink("Payment Mode", "GetPayMode", "Masters", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/cheque.png" />
                                    @Html.ActionLink("Add Cheque Book", "GetCheque", "Masters", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/module.png" />
                                    @Html.ActionLink("Add App Module", "AddAppModule", "Menu", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/page.png" />
                                    @Html.ActionLink("Add App Page", "AddAppPage", "Menu", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/change.png" />
                                    @Html.ActionLink("Change Shop", "GetShop", "Setting", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/downtime.png" />
                                    @Html.ActionLink("App Downtime", "GetDowntime", "Setting", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/createUser.png" />
                                    @Html.ActionLink("Create User", "GetUser", "User", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/access.png" />
                                    @Html.ActionLink("User Access", "GetAccess", "User", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/permission.png" />
                                    @Html.ActionLink("User Permission", "GetPermission", "User", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/shopmap.png" />
                                    @Html.ActionLink("Map Shop", "MapShop", "User", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/error.png" />
                                    @Html.ActionLink("Error Log", "GetErrorLog", "Admin", new { area = "Global" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi  @Session["name"].ToString() <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/home.png" />
                                    @Html.ActionLink("App Home", "Dashboard", "home", new { area = "" }, new { @class = "dropdown-menu-text" })
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <img class="dropdown-menu-icon" src="~/Images/Icons/logout.png" />
                                    @Html.ActionLink("Logout", "logout", "login", new { area = "" }, new { @class = "dropdown-menu-text" })
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "login", new { area = "" }, null)</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="mainalertContainer">
            @*Common Error Alert Code*@
            @{
                string message = string.Empty;
                string alert = string.Empty;
                if (ViewBag.message != null || TempData["messages"] != null)
                {
                    message = ViewBag.message == null ? TempData["messages"] : ViewBag.message;
                    alert = ViewBag.alert == null ? TempData["alert"] : ViewBag.alert;
                    if (string.IsNullOrEmpty(alert))
                    {
                        alert = "info";
                    }
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">
                                        @if (@alert == "success")
                                        {
                                            <text>Success</text>
                                        }
                                        else if (@alert == "info")
                                        {
                                            <text>Information</text>
                                        }
                                        else if (@alert == "danger")
                                        {
                                            <text>Error</text>
                                        }
                                        else
                                        {
                                            <text>Warning</text>
                                        }
                                        !
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>@message</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                ////Validation Summary Code
                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger text-center alert-dismissible" style="margin-top:55px;" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Validation Error!</strong> @Html.ValidationSummary(false, "", new { @class = "validSummary" })
                    </div>
                }
            }
        </div>
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stock Management powered by Common Soft Solution</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false);
    <!-- Modal Start-->
    <div id="showModel" data-toggle="modal" data-target="#myModal"></div> <!--Model trigger point dont remove-->
</body>
</html>
