@using Myshop.GlobalResource
@using Myshop.App_Start
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<form action='@Url.Action("SetChangePassword", "login")' method="post" style="margin-top:60px">
    <div class="container">
        @{
            if (ViewBag.loginStatus != null)
            {<div class="alert alert-warning text-center alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@Resource.Warning</strong> @ViewBag.loginStatus
        </div>}

        }
        <div style="margin:5% 0;">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">@Resource.Heading_ChangePassword </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>@Resource.Email</label>
                                <input type="email" required="required" class="form-control" placeholder="@Resource.Username" name="ss" disabled="disabled" value="@WebSession.Username" />
                            </div>
                            <div class="col-sm-12">
                                <label>@Resource.PasswordOld</label>
                                <input type="password" required="required" placeholder="@Resource.PasswordOld" class="form-control" name="oldpassword" />
                            </div>
                            <div class="col-sm-12">
                                <label>@Resource.PasswordNew</label>
                                <input type="password" required="required" placeholder="@Resource.PasswordNew" class="form-control" name="newpassword" data-validate-password-error="Password should be min 6 chars and contain one lower case, one upper case, one number and one special charector" data-validate-password="true" />
                            </div>
                            <div class="col-sm-12">
                                <label>@Resource.PasswordConfirm</label>
                                <input type="password" required="required" class="form-control" placeholder="@Resource.PasswordConfirm" data-validate-compare-error="@Resource.PasswordNotMatch" data-validate-compare="newpassword" name="confirmnewpassword" />
                            </div>
                            <div class="col-sm-3 col-sm-offset-9" style="margin-top:10px;">
                                <input type="submit" class="btn-shop" value="@Resource.PasswordSet" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="utilities">
                            @Html.ActionLink("Login", "Login")
                            <div class="pull-right"><a href="#">@Resource.SignUp</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>