@using Myshop.GlobalResource
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}
<form action='@Url.Action("SendResetLink", "login")' method="post" style="margin-top:60px">
    <div class="container">
        @{
            if (ViewBag.loginStatus != null)
            {
                <div class="alert alert-warning text-center alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@Resource.Warning</strong> @ViewBag.loginStatus
        </div>
            }

        }
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">@Resource.Heading_PasswordForget</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fas fa-envelope fa-fw"></i></span>
                                    <input class="form-control" type="email" required="required" placeholder="@Resource.Email" name="username">
                                </div>
                            </div>
                            <div class="col-sm-3 col-sm-offset-9" style="margin-top:10px;">
                                <button type="submit" class="btn btn-success pull-right btn-sm">
                                    <i class="fas fa-undo black-text"></i> Reset It
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="utilities">
                            <a class="btn btn-default btn-sm" href="@Url.Action("ForgetUsername","login")"><i class="fas fa-user"></i> Forget Username</a>
                            <div class="pull-right"><a class="btn btn-default btn-sm" href="#"><i class="fas fa-user-plus"></i> Sign Up</a></div>

                        </div>
                    </div>
                </div>
            </div>
    </div>

</form>
