@using Myshop.GlobalResource
@{
    ViewBag.Title = "Downtime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 100px;text-align: center;">
    <div class="jumbotron">
        @Resource.AppUnderMaint
        <br/>
        @TempData["message"]
        <br />
        Downtime Start @@ @TempData["DowntimeStart"]
        <br />
        Downtime End @@ @TempData["DowntimeEnd"]
        @{ 
            TempData.Keep();
        }
    </div>
    <div class="text-center alert  alert-info">If this screen is still showing after the @TempData["DowntimeEnd"]. So please close this application and re-open the same again.</div>
</div>

