@using Myshop.App_Start;
@using Newtonsoft.Json;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title - @WebSession.ShopName</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="~/Content/App/Home/Common.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Layout/extra.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Layout/hoe.css" rel="stylesheet" />
    <link href="~/Content/Layout/switch.css" rel="stylesheet" />
    <link href="~/Content/Layout/header.css" rel="stylesheet" />
    <link href="~/Content/Layout/Horizontal_Nevigation.css" rel="stylesheet" />
    <link href="~/Content/Layout/Overlay_Effect.css" rel="stylesheet" />
    <link href="~/Content/Layout/Push_effect.css" rel="stylesheet" />
    <link href="~/Content/Layout/Theme_Color.css" rel="stylesheet" />
    <link href="~/Content/Layout/ShrinkEffect.css" rel="stylesheet" />
    <link href="~/Content/Layout/rightsidebar.css" rel="stylesheet" />

    <link href="~/Content/W3C.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/App/Common/DatetimePicker.js"></script>
    <script src="~/Scripts/App/Common/App.js"></script>
    <script src="~/Scripts/App/Common/Utility.js"></script>
    <script src="~/Scripts/App/Common/Validate.js"></script>
    <link href="~/Content/jquery.dropdown.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dropdown.min.js"></script>
    <script src="~/Scripts/App/Common/layout.js"></script>
</head>
@{ string AreaName = string.Empty;
    if (ViewContext.RouteData.DataTokens["area"] != null)
    {
        AreaName = ViewContext.RouteData.DataTokens["area"].ToString().ToLower();
    } }
<body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1" style="min-height:714px !important;height:auto !important">
    <input type="hidden" id="hdnsessionjson" value="@Utility.Base64Encode(JsonConvert.SerializeObject(new {UserId=WebSession.UserId}))" />
    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <header id="hoe-header" hoe-lpanel-effect="shrink" class="">
            <div class="hoe-left-header">
                <a href="@Url.Action("Index", "Home",new { area = "" })"><i class="fas fa-building" title="@WebSession.ShopName"></i> <span>@Html.ActionLink(WebSession.ShopName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-sm hidden-xs hidden-md", title = "Click here to go to dashboard", style = "font-size: 13px;" })</span></a>
                <span class="hoe-sidebar-toggle"><a href="#"></a></span>
            </div>

            <div class="hoe-right-header" hoe-position-type="relative">
                <span class="hoe-sidebar-toggle"><a href="#"></a></span>
                @if (!string.IsNullOrEmpty(WebSession.Username))
                {
                <ul class="left-navbar">
                    <li class="dropdown hoe-rheader-submenu message-notification left-min-30">
                        <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge badge-success" id="lblNotiCount">@WebSession.NotificationCount</span>
                        </a>
                        <ul class="dropdown-menu notiList">
                            <li class="hoe-submenu-label">
                                <h3><span class="bold lblNotiCount">@WebSession.NotificationCount </span> Notification <a href="#">view all</a></h3>
                            </li>
                            @foreach (WebSessionNotificationList item in WebSession.NotificationList)
                            {
                                <li data-notifyid="@item.NotificationId">
                                    <a href="#" class="clearfix">
                                        <img src="data:image/jpg;base64,@item.Photo" class="img-circle notification-avatar" alt="Avatar">
                                        <p class="notification-title">Notification-@item.Sender</p>
                                        <span class="notification-ago">@item.ReceiveTime</span>
                                        <p class="notification-message">@item.Message</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown hoe-rheader-submenu message-notification left-min-65">
                        <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown">
                            <i class="fas fa-tasks"></i>
                            <span class="badge badge-danger">@WebSession.TaskCount</span>
                        </a>
                        <ul class="dropdown-menu ">
                            <li class="hoe-submenu-label">
                                <h3> You have <span class="bold">@WebSession.TaskCount </span>pending Task <a href="~/Global/User/UserTaskList">view all</a></h3>
                            </li>
                            @{
                                foreach (var item in WebSession.TaskList)
                                {
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img alt="Avatar" class="img-circle notification-avatar" src="data:image/jpg;base64,@item.TaskCreatedByPhoto">
                                            <span class="task-title"> @item.TaskCreatedByName Assigned new task </span>
                                            <span class="notification-ago-1 ">@item.TaskAssignedTime</span>
                                            <p class="notification-message" style="padding: 4px 0px;">@item.TaskDetails</p>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li>
                        <form method="post" class="hoe-searchbar">
                            <input type="text" placeholder="Search..." name="keyword" class="form-control">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                        </form>
                    </li>
                </ul>
                }
                <ul class="right-navbar">
                    <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                @if (!string.IsNullOrEmpty(WebSession.UserPhoto))
                                {
                                    <img class="img-circle" src="data:image/jpg;base64,@WebSession.UserPhoto">
                                }
                                else
                                {

                                    string userAvtar = WebSession.UserGender == "M" ? "MaleUser.png" : "FemaleUser.png";
                                    <img class="img-circle" src="~/Images/Icons/@userAvtar">
                                }
                            </span>
                            <span><b>@WebSession.Firstname</b> <i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu ">
                            @if (!string.IsNullOrEmpty(WebSession.Username))
                            {
                                <li><a href="~/Global/user/Userprofile"><i class="fa fa-user"></i>My Profile</a></li>
                                <li><a href="#"><i class="fa fa-calendar"></i>My Calendar</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-bell yellow-text"></i>My Inbox  <span class="badge badge-success">
                                            @WebSession.NotificationCount
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-tasks"></i>My Tasks <span class="badge badge-danger">
                                            @WebSession.TaskCount
                                        </span>
                                    </a>
                                </li>
                                <li><a href="/Global/Setting/GetShop"><i class="fa fa-building green-text"></i>Change Shop</a></li>
                                <li id="_layoutLockScreen"><a href="#"><i class="fa fa-lock blue-text"></i>Lock Screen</a></li>
                                <li><a href="\login\logout"><i class="fa fa-power-off red-text"></i>Logout</a></li>
                            }
                            else
                            {
                                <li><a href="\login\login"><i class="fa fa-power-off green-text"></i>Login</a></li>
                            }
                        </ul>
                    </li>
                </ul>

            </div>
        </header>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink" class="">
            <aside id="hoe-left-panel" hoe-position-type="absolute">
                <div class="profile-box">
                    <div class="media">
                        <a class="pull-left" href="user-profile.html">
                            @if (!string.IsNullOrEmpty(WebSession.UserPhoto))
                            {
                                <img class="img-circle" src="data:image/jpg;base64,@WebSession.UserPhoto">
                            }
                            else
                            {

                                string userAvtar = WebSession.UserGender == "M" ? "MaleUser.png" : "FemaleUser.png";
                                <img class="img-circle" src="~/Images/Icons/@userAvtar">
                            }
                        </a>
                        <div class="media-body">
                            @{
                                string name = WebSession.Firstname == "" ? "Guest" : @WebSession.Firstname;
                                <h5 class="media-heading">Welcome @name<span></span></h5>
                                <small>@WebSession.UserType.ToUpper()</small>
                            }
                        </div>
                    </div>
                </div>
                <ul class="nav panel-list">
                    <li class="nav-level">Navigation</li>
                    @if (Session["username"] != null && Session["username"].ToString() != "" && Session["firstname"] != null)
                    {
                        <li class="">
                            <a href="\Home\Dashboard">
                                <i class="fa fa-home black-text"></i>
                                <span class="menu-text">App Home</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        if (AreaName == "stockmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\stock\main">
                                    <i class="fa fa-tachometer black-text"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-box-open black-text"></i>
                                    <span class="menu-text">Stock Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/stock/StockEntry">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-arrow-down fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-box-open black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Stock Entry</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @*Stock Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-brain black-text"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Masters/GetBrand">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-code-branch black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Brand</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetCategory">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-bezier-curve black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Category</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetSubCategory">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-sitemap black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Sub Category</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetUnit">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-flask black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Unit</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetVendor">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-user-friends black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Vendor</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetProduct">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-cookie-bite black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Product</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Stock Master Menu End*@

                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o black-text"></i>
                                    <span class="menu-text">Reports</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Reports/MinStock">
                                            <span class="fa-stack fa-sm">
                                                <i class="fab fa-creative-commons-zero fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-box-open black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Min Stock</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (AreaName == "employeesmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\stock\main">
                                    <i class="fa fa-tachometer black-text"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-brain black-text"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Master/AddEmployeeRole">
                                            <span class="menu-text noarrow">Add Employee Role</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Master/AddEmployee">
                                            <span class="menu-text noarrow">Add Employee</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        else if (AreaName == "customersmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\customer\dashboard">
                                    <i class="fa fa-tachometer black-text"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-brain black-text"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Master/AddCustmerType">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-question fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-user-cog black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Customer Type</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Master/AddCustmer">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-user-cog black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Customer</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (AreaName == "global")
                        {
                            <li class="active">
                                <a href="\@AreaName\stock\main">
                                    <i class="fa fa-tachometer black-text"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-brain black-text black-text"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Masters/GetLogo">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-radiation black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Logo</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/Getshop">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-building black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Add Shop</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li class="hoe-has-menu">
                                        @*Global Master Bank Menu Start*@
                                        <a href="javascript:void(0)">
                                            <i class="fas fa-landmark black-text"></i>
                                            <span class="menu-text noarrow">Bank Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Masters/GetBank">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-landmark black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add Bank</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetAccountType">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-question fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-landmark black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add Bank Account Type</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetPayMode">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fab fa-amazon-pay black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add Payment Mode</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetBankAccount">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-user-circle fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-landmark black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add Bank Account</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetCheque">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-money-bill fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-landmark black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add Cheque</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Bank Menu End*@

                                    @*Global Master Application Menu Start*@
                                    <li class="hoe-has-menu">
                                        <a href="javascript:void(0)">
                                            <i class="fab fa-app-store black-text"></i>
                                            <span class="menu-text noarrow">Application Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Menu/AddAppModule">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fab fa-app-store black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add App Module</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Menu/AddAppPage">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-file black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add App Page</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Application Menu End*@

                                    @*Global Master Notification Menu Start*@
                                    <li class="hoe-has-menu">
                                        <a href="javascript:void(0)">
                                            <i class="fas fa-bell black-text"></i>
                                            <span class="menu-text noarrow">Notification Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Masters/GetNotificationType">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-question fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-bell black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Notification Type</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetNotification">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-bell black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Add Notification</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/SendNotification">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-paper-plane fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-bell black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Send Notification</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Notification Menu End*@

                                    @*Global Master Document Menu Start*@
                                    <li class="hoe-has-menu">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-files-o black-text"></i>
                                            <span class="menu-text noarrow">Document Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Masters/GetDocProofType">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-question fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-files-o black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Doc Proof Type</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetDocProof">
                                                    <span class="fa-stack fa-sm">
                                                        <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                        <i class="fas fa-files-o black-text"></i>
                                                    </span>
                                                    <span class="menu-text noarrow">Document Proof</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Notification Menu End*@
                                </ul>
                            </li> @*Global Master Menu End*@

                            @*Global Setting Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-tools black-text"></i>
                                    <span class="menu-text">Setting Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Setting/GetShop">
                                            <i class="fas fa-sync-alt black-text"></i>
                                            <span class="menu-text noarrow">Change Shop</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Setting/GetDowntime">
                                            <i class="fas fa-level-down-alt black-text"></i>
                                            <span class="menu-text noarrow">Set App Downtime</span>
                                            <span class="label sul">Updated</span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Global Setting Menu End*@

                            @*Global Menu Start*@
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fab fa-app-store black-text"></i>
                                    <span class="menu-text">App Menu</span>
                                    <span class="label sul">Coming Soon</span>
                                    @*<span class="selected"></span>*@
                                </a>
                            </li> @*Global Menu End*@

                            @*Global User Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-user black-text"></i>
                                    <span class="menu-text">Users Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/User/GetUser">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fa fa-user black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Create User</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/User/GetAccess">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-check fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fa fa-user black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Create Access</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/User/GetPermission">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-user-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fa fa-user black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Create Permission</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/User/MapShop">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-landmark fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fa fa-user black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">User Shop Map</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Global User Menu End*@

                            @*Global Admin Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-user-secret red-text"></i>
                                    <span class="menu-text">Admin Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Admin/CreateUserTask">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-tasks fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fa fa-user-secret red-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Create User Task</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Admin/ResetUserPassword">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-sync-alt fa-stack-1x stack-aside greenlight-text fa-spin"></i>
                                                <i class="fa fa-key red-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Reset User Password</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Admin/GetErrorLog">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-file-import red-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Error Log</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Global Admin Menu End*@

                        }
                        else if (AreaName == "salesmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\sale\dashboard">
                                    <i class="fa fa-tachometer black-text"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-balance-scale black-text"></i>
                                    <span class="menu-text">Sales Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/sale/NewSales">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-plus fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-balance-scale black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">New Sale</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/ReturnInvoice">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-redo-alt fa-stack-1x stack-aside red-text fa-spin"></i>
                                                <i class="fas fa-balance-scale black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Return</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/cancelInvoice">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-times fa-stack-1x stack-aside red-text"></i>
                                                <i class="fas fa-balance-scale black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Cancel Invoice</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/saleslist">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-eye fa-stack-1x stack-aside yellow-text"></i>
                                                <i class="fas fa-balance-scale black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">View Sales</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/GetInvoice">
                                            <span class="fa-stack fa-sm">
                                                <i class="far fa-copy fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-balance-scale black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Duplicate Invoice</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Global Master Menu End*@

                            @*Sales Reports Menu End*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o black-text"></i>
                                    <span class="menu-text">Reports</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Reports/GetStatements">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-list-ol fa-stack-1x stack-aside greenlight-text"></i>
                                                <i class="fas fa-balance-scale black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Sales Statement</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Reports/GetGstStatements">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-list-ol fa-stack-1x stack-aside yellow-text"></i>
                                                <i class="fas fa-rupee-sign black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">GST Statement</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Reports/MostSellingProduct">
                                            <span class="fa-stack fa-sm">
                                                <i class="fas fa-list-ol fa-stack-1x stack-aside red-text"></i>
                                                <i class="fas fa-network-wired black-text"></i>
                                            </span>
                                            <span class="menu-text noarrow">Most Selling Product</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Sales Reports Menu End*@

                            <li>
                                <a href="/@AreaName/settings/GetSetting">
                                    <i class="fas fa-tools black-text"></i>
                                    <span class="menu-text noarrow">Sales Setting</span>
                                    <span class="selected"></span>
                                </a>
                            </li>

                        }
                        <li class="hoe-has-menu">
                            <a href="javascript:void(0)">
                                <i class="fas fa-cog black-text fa-spin"></i>
                                <span class="menu-text noarrow">Tools</span>
                                <span class="selected"></span>
                            </a>
                            <ul class="hoe-sub-menu">
                                <li>
                                    <a href="/Global/main/home">
                                        <i class="fas fa-globe black-text fa-spin"></i>
                                        <span class="menu-text noarrow">Global Setting </span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/StockManagement/Stock/Main">
                                        <i class="fas fa-box-open black-text"></i>
                                        <span class="menu-text noarrow">Stock Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/EmployeesManagement/Employee/home">
                                        <i class="fas fa-users-cog black-text"></i>
                                        <span class="menu-text noarrow">Employee Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/CustomersManagement/Customer/dashboard">
                                        <i class="fas fa-user-cog black-text"></i>
                                        <span class="menu-text noarrow">Customer Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/SalesManagement/sale/dashboard">
                                        <i class="fas fa-balance-scale black-text"></i>
                                        <span class="menu-text noarrow">Sales Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </aside>
            <section id="main-content" style="min-height: 279px;">
                <div class="inner-content">
                    @{
                        string message = string.Empty;
                        string alert = string.Empty;
                        if (ViewBag.message != null || TempData["messages"] != null)
                        {
                            message = ViewBag.message == null ? TempData["messages"] : ViewBag.message;
                            alert = ViewBag.alert == null ? TempData["alert"] : ViewBag.alert;
                            if (string.IsNullOrEmpty(alert))
                            {
                                alert = "info";
                            }
                            <div class="modal fade" id="myModal" role="dialog" style="overflow:hidden;overflow-y:hidden;">
                                <div class="modal-dialog" style="position: absolute;left: 31%;top: 22%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header @alert" style="padding: 7px 15px;">
                                            <i class="fas fa-times close" style="margin-top: 4px;" data-dismiss="modal"></i>
                                            <h4 class="modal-title black-text">
                                                @if (@alert == "success")
                                                {
                                                    <text><i class="fas fa-check"></i> Success</text>
                                                }
                                                else if (@alert == "info")
                                                {
                                                    <text><i class="fas fa-exclamation-circle"></i> Information</text>
                                                }
                                                else if (@alert == "danger")
                                                {
                                                    <text><i class="fas fa-times-circle"></i> Error</text>
                                                }
                                                else
                                                {
                                                    <text><i class="fas fa-exclamation-triangle"></i> Warning</text>
                                                }
                                                !
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>@message</p>
                                        </div>
                                        <div class="modal-footer" style="padding: 9px 11px 9px;">
                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        ////Validation Summary Code
                        if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger text-center alert-dismissible" style="margin-top: 0px;position: fixed !important;width: 80% !important;display: inline-block;z-index: 100000000 !important;margin-left: 0% !important;" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Validation Error!</strong> @Html.ValidationSummary(false, "", new { @class = "validSummary" })
                            </div>
                        }
                    }
                    @RenderBody()
                </div>
            </section>
            <div id="styleSelector">
                <div class="selector-toggle">
                    <a href="javascript:void(0)"></a>
                </div>
                <ul>
                    <li>
                        <p class="selector-title">Style Selector</p>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Header BG Color Option</span>
                        <div id="theme-color">
                            <a href="#" class="header-bg" hoe-color-type="header-bg1">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg2">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg3">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg4">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg5">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg6">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg7">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg8">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Left Panel BG Color Option</span>
                        <div id="theme-color">
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg1">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg2">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg3">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg4">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg5">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg6">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg7">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg8">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Logo Color BG Option</span>
                        <div id="theme-color">
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg1">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg2">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg3">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg4">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg5">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg6">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg7">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg8">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Theme Background BG Option</span>
                        <div id="theme-color">
                            <a href="#" class="theme-bg" hoe-themebg-type="bg1">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg2">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg3">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg4">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg5">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg6">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg7">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg8">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Theme Layout</span>
                        <select id="theme-layout" class="form-control minimal input-sm">
                            <option name="theme-layout" value="wide-layout">Wide Layout</option>
                            <option name="theme-layout" value="box-layout">Boxed Layout</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">SideBar Effect</span>
                        <select id="leftpanel-effect" class="form-control minimal input-sm">
                            <option name="lpanel-effect" value="shrink">Default</option>
                            <option name="lpanel-effect" value="overlay">Overlay</option>
                            <option name="lpanel-effect" value="push">Push</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Navigation Type</span>
                        <select id="navigation-type" class="form-control minimal input-sm">
                            <option name="navigation-type" value="vertical">Vertical</option>
                            <option name="navigation-type" value="vertical-compact">Vertical Compact</option>
                            <option name="navigation-type" value="horizontal">Horizontal</option>
                            <option name="navigation-type" value="horizontal-compact">Horizontal compact</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Navigation Side</span>
                        <select id="navigation-side" class="form-control minimal input-sm">
                            <option name="navigation-side" value="leftside">Left</option>
                            <option name="navigation-side" value="rightside">Right</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Sidebar Position</span>
                        <select id="sidebar-position" class="form-control minimal input-sm">
                            <option name="sidebar-position" value="default">Default</option>
                            <option name="sidebar-position" value="fixed">Fixed</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Start Thumbnail Popup-->
    <div class="shop-thumbnail-pre">
        <div class="popup-header">
            <img src="~/Images/Icons/if_Close_Icon_1398919.png" id="popupclose" onclick="utility.popupClose()" title="Close" alt="close" style="float: right;padding-bottom: 5px;" />
        </div>
        <div class="shop-thumbnail-holder">
            <img src="~/Images/Icons/404.png" class="shop-thumbnail-img" />
        </div>
    </div>
    <!--End Thumbnail Popup-->
    <!-- Modal Start-->
    <div id="showModel" data-toggle="modal" data-target="#myModal"></div> <!--Model trigger point dont remove-->
    <div id="mainAlert" class="alert text-center alert-dismissible" style="margin-top: 0px;position: absolute !important;width: 70% !important;display: none;z-index: 100000000 !important;margin-left: 10% !important;top:60px;left:11%" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong id="alertColor">Validation Error!</strong> <span id="alertmessage"></span>
    </div>
    <div class="lock">
        <div class="row">
            <div class="col-lg-6" style="margin-left: 25%;margin-top: 10%;">
                <div style="text-align:center;color:white;">
                    <h2>
                        <img class="img-circle" style="width:100px;height:100px;" src="data:image/jpg;base64,@WebSession.UserPhoto">
                    </h2>
                </div>
                <div style="text-align:center;color:white;"><h2>@WebSession.Firstname @WebSession.Lastname</h2></div>
                <div style="text-align:center;color:white;"><h6 id="_layoutScreenLockMsg">Your Screen is locked</h6></div>
                <hr />
                <div class="input-group">
                    <input type="password" class="form-control" autocomplete="off" id="_layoutUnlockPassword" placeholder="Enter your account password..">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="_layoutUnlockScreen" type="button">Unlock!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
    <div class="notistack">
    </div>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/hoe.js"></script>
</body>
</html>
<style>
</style>