@using Myshop.App_Start;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title - @WebSession.ShopName</title>
    <link href="~/Content/App/Home/Common.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Layout/extra.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Layout/hoe.css" rel="stylesheet" />
    <link href="~/Content/Layout/switch.css" rel="stylesheet" />
    <link href="~/Content/Layout/header.css" rel="stylesheet" />
    <link href="~/Content/Layout/Horizontal_Nevigation.css" rel="stylesheet" />
    <link href="~/Content/Layout/Overlay_Effect.css" rel="stylesheet" />
    <link href="~/Content/Layout/Push_effect.css" rel="stylesheet" />
    <link href="~/Content/Layout/Theme_Color.css" rel="stylesheet" />
    <link href="~/Content/Layout/ShrinkEffect.css" rel="stylesheet" />
    <link href="~/Content/Layout/rightsidebar.css" rel="stylesheet" />

    <link href="~/Content/W3C.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-confirm.js"></script>
    <script src="~/Scripts/App/Common/DatetimePicker.js"></script>
    <script src="~/Scripts/App/Common/App.js"></script>
    <script src="~/Scripts/App/Common/Utility.js"></script>
    <script src="~/Scripts/App/Common/Validate.js"></script>
    <link href="~/Content/jquery.dropdown.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dropdown.min.js"></script>

</head>
@{ string AreaName = string.Empty;
    if (ViewContext.RouteData.DataTokens["area"] != null)
    {
        AreaName = ViewContext.RouteData.DataTokens["area"].ToString().ToLower();
    } }
<body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1" style="min-height:714px !important;height:auto !important">
    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <header id="hoe-header" hoe-lpanel-effect="shrink" class="">
            <div class="hoe-left-header">
                <a href="#"><i class="fa fa-graduation-cap"></i> <span>@Html.ActionLink(WebSession.ShopName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand", title = "Click here to go to dashboard",style= "font-size: 13px;" })</span></a>
                <span class="hoe-sidebar-toggle"><a href="#"></a></span>
            </div>

            <div class="hoe-right-header" hoe-position-type="relative">
                <span class="hoe-sidebar-toggle"><a href="#"></a></span>
                @if (!string.IsNullOrEmpty(WebSession.Username))
                {
                    <ul class="left-navbar">
                        <li class="dropdown hoe-rheader-submenu message-notification">
                            <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge badge-danger">@WebSession.NotificationCount</span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="hoe-submenu-label">
                                    <h3>You have <span class="bold">@WebSession.NotificationCount</span> New Messages <a href="#">view all</a></h3>
                                </li>

                                @foreach (WebSessionNotificationList item in WebSession.NotificationList)
                                {
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="data:image/jpg;base64,@item.Photo" class="img-circle notification-avatar" alt="Avatar">
                                            <span class="notification-title">@item.Sender</span>
                                            <span class="notification-ago  ">@item.ReceiveTime</span>
                                            <p class="notification-message">@item.Message</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown hoe-rheader-submenu message-notification left-min-30">
                            <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge badge-success">6</span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="hoe-submenu-label">
                                    <h3><span class="bold">6 pending</span> Notification <a href="#">view all</a></h3>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <i class="fa fa-database red-text"></i>
                                        <span class="notification-title">Database overload- Sav3090</span>
                                        <span class="notification-ago  ">3 min ago</span>
                                        <p class="notification-message">Database overload due to incorrect queries</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <i class="fa fa-exchange green-text"></i>
                                        <span class="notification-title">Installing App v1.2.1</span>
                                        <span class="notification-ago  ">60 % Done</span>
                                        <p class="notification-message">
                                        </p><div class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                60%
                                            </div>
                                        </div>
                                        <p></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <i class="fa fa-exclamation-triangle red-text"></i>
                                        <span class="notification-title">Application Error - Sav3085</span>
                                        <span class="notification-ago  ">10 min ago</span>
                                        <p class="notification-message">failed to initialize the application due to error weblogic.application.moduleexception</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <i class="fa fa-server yellow-text"></i>
                                        <span class="notification-title">Server Status - Sav3080</span>
                                        <span class="notification-ago  ">30GB Free Space</span>
                                        <p class="notification-message">
                                        </p><div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">

                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">

                                            </div>
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">

                                            </div>
                                        </div>
                                        <p></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <i class="fa fa-cogs green-text"></i>
                                        <span class="notification-title">Application Configured</span>
                                        <span class="notification-ago  ">30 min ago</span>
                                        <p class="notification-message">Your setting is updated on server Sav3060</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <i class="fa fa-server blue-text"></i>
                                        <span class="notification-title">Server Status</span>
                                        <span class="notification-ago  ">300GB Free Space</span>
                                        <p class="notification-message">
                                        </p><div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" style="width:80%">
                                                Free Space
                                            </div>
                                        </div>
                                        <p></p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown hoe-rheader-submenu message-notification left-min-65">
                            <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="badge badge-danger">@WebSession.TaskCount</span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="hoe-submenu-label">
                                    <h3> You have <span class="bold">@WebSession.TaskCount </span>pending Task <a href="~/Global/User/UserTaskList">view all</a></h3>
                                </li>
                                @{
                                    foreach (var item in WebSession.TaskList)
                                    {
                                        <li>
                                            <a href="#" class="clearfix">
                                                <img alt="Avatar" class="img-circle notification-avatar" src="data:image/jpg;base64,@item.TaskCreatedByPhoto">
                                                <span class="notification-title"> @item.TaskCreatedByName Assigned new task </span>
                                                <span class="notification-ago-1 ">@item.TaskAssignedTime</span>
                                                <p class="notification-message">@item.TaskDetails</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <form method="post" class="hoe-searchbar">
                                <input type="text" placeholder="Search..." name="keyword" class="form-control">
                                <span class="search-icon"><i class="fa fa-search"></i></span>
                            </form>
                        </li>
                    </ul>
                }
                <ul class="right-navbar">
                    <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                @if (!string.IsNullOrEmpty(WebSession.UserPhoto))
                                {
                                    <img class="img-circle" src="data:image/jpg;base64,@WebSession.UserPhoto">
                                }
                                else
                                {

                                    string userAvtar = WebSession.UserGender == "M" ? "MaleUser.png" : "FemaleUser.png";
                                    <img class="img-circle" src="~/Images/Icons/@userAvtar">
                                }
                            </span>
                            <span><b>@WebSession.Firstname</b> <i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu ">
                            @if (!string.IsNullOrEmpty(WebSession.Username))
                            {
                                <li><a href="~/Global/user/Userprofile"><i class="fa fa-user"></i>My Profile</a></li>
                                <li><a href="#"><i class="fa fa-calendar"></i>My Calendar</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-envelope"></i>My Inbox  <span class="badge badge-danger">
                                            @WebSession.NotificationCount
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-rocket"></i>My Tasks <span class="badge badge-success">
                                            7
                                        </span>
                                    </a>
                                </li>
                                <li id="_layoutLockScreen"><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                                <li><a href="\login\logout"><i class="fa fa-power-off"></i>Logout</a></li>
                            }
                            else
                            {
                                <li><a href="\login\login"><i class="fa fa-power-off"></i>Login</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown hoe-rheader-submenu hidden-xs">
                        <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    </li>
                </ul>

            </div>
        </header>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink" class="">
            <aside id="hoe-left-panel" hoe-position-type="absolute">
                <div class="profile-box">
                    <div class="media">
                        <a class="pull-left" href="user-profile.html">
                            @if (!string.IsNullOrEmpty(WebSession.UserPhoto))
                            {
                                <img class="img-circle" src="data:image/jpg;base64,@WebSession.UserPhoto">
                            }
                            else
                            {

                                string userAvtar = WebSession.UserGender == "M" ? "MaleUser.png" : "FemaleUser.png";
                                <img class="img-circle" src="~/Images/Icons/@userAvtar">
                            }
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">Welcome <span>@WebSession.Firstname</span></h5>
                            <small>@WebSession.UserType.ToUpper()</small>
                        </div>
                    </div>
                </div>
                <ul class="nav panel-list">
                    <li class="nav-level">Navigation</li>
                    @if (Session["username"] != null && Session["username"].ToString() != "" && Session["firstname"] != null)
                    {
                        <li class="">
                            <a href="\Home\Dashboard">
                                <i class="fa fa-home"></i>
                                <span class="menu-text">App Home</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        if (AreaName == "stockmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\stock\main">
                                    <i class="fa fa-tachometer"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Stock Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/stock/StockEntry">
                                            <span class="menu-text">Stock Entry</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @*Stock Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Masters/GetBrand">
                                            <span class="menu-text">Add Brand</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetCategory">
                                            <span class="menu-text">Add Category</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetSubCategory">
                                            <span class="menu-text">Add Sub Category</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetUnit">
                                            <span class="menu-text">Add Unit</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetVendor">
                                            <span class="menu-text">Add Vendor</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/GetProduct">
                                            <span class="menu-text">Add Product</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Stock Master Menu End*@

                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Reports</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Reports/MinStock">
                                            <span class="menu-text">Min Stock</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (AreaName == "employeesmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\stock\main">
                                    <i class="fa fa-tachometer"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Masters/GetLogo">
                                            <span class="menu-text">Add Logo</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        else if (AreaName == "customersmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\customer\dashboard">
                                    <i class="fa fa-tachometer"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Master/AddCustmerType">
                                            <span class="menu-text">Add Customer Type</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Master/AddCustmer">
                                            <span class="menu-text">Add Customer</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (AreaName == "global")
                        {
                            <li class="active">
                                <a href="\@AreaName\stock\main">
                                    <i class="fa fa-tachometer"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Master Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Masters/GetLogo">
                                            <span class="menu-text">Add Logo</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Masters/Getshop">
                                            <span class="menu-text">Add Shop</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li class="hoe-has-menu">
                                        @*Global Master Bank Menu Start*@
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-files-o"></i>
                                            <span class="menu-text">Bank Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Masters/GetBank">
                                                    <span class="menu-text">Add Bank</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetAccountType">
                                                    <span class="menu-text">Add Bank Account Type</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetPayMode">
                                                    <span class="menu-text">Add Payment Mode</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetBankAccount">
                                                    <span class="menu-text">Add Bank Account</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetCheque">
                                                    <span class="menu-text">Add Cheque</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Bank Menu End*@

                                    @*Global Master Application Menu Start*@
                                    <li class="hoe-has-menu">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-files-o"></i>
                                            <span class="menu-text">Application Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Masters/AddAppModule">
                                                    <span class="menu-text">Add App Module</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/AddAppPage">
                                                    <span class="menu-text">Add App Page</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Application Menu End*@

                                    @*Global Master Notification Menu Start*@
                                    <li class="hoe-has-menu">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-files-o"></i>
                                            <span class="menu-text">Notification Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Masters/GetNotificationType">
                                                    <span class="menu-text">Notification Type</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetNotification">
                                                    <span class="menu-text">Add Notification</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/SendNotification">
                                                    <span class="menu-text">Send Notification</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Notification Menu End*@

                                    @*Global Master Document Menu Start*@
                                    <li class="hoe-has-menu">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-files-o"></i>
                                            <span class="menu-text">Document Menu</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">
                                            <li>
                                                <a href="/@AreaName/Masters/GetDocProofType">
                                                    <span class="menu-text">Doc Proof Type</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetDocProof">
                                                    <span class="menu-text">Document Proof</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Notification Menu End*@
                                </ul>
                            </li> @*Global Master Menu End*@

                            @*Global Setting Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Setting Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Setting/GetShop">
                                            <span class="menu-text">Change Shop</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Setting/GetDowntime">
                                            <span class="menu-text">Set App Downtime</span>
                                            <span class="label sul">Updated</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Global Setting Menu End*@

                            @*Global Menu Start*@
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">App Menu</span>
                                    <span class="label sul">Coming Soon</span>
                                    @*<span class="selected"></span>*@
                                </a>
                            </li> @*Global Menu End*@

                            @*Global User Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Users Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/User/GetUser">
                                            <span class="menu-text">Create User</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/User/GetAccess">
                                            <span class="menu-text">Create Access</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/User/GetPermission">
                                            <span class="menu-text">Create Permission</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/User/MapShop">
                                            <span class="menu-text">User Shop Map</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Global User Menu End*@

                            @*Global Admin Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Admin Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Admin/CreateUserTask">
                                            <span class="menu-text">Create User Task</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Admin/ResetUserPassword">
                                            <span class="menu-text">Reset User Password</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/Admin/GetErrorLog">
                                            <span class="menu-text">Error Log</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Global Admin Menu End*@

                        }
                        else if (AreaName == "salesmanagement")
                        {
                            <li class="active">
                                <a href="\@AreaName\sale\dashboard">
                                    <i class="fa fa-tachometer"></i>
                                    <span class="menu-text">Dashboard</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*Global Master Menu Start*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Sales Menu</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/sale/NewSales">
                                            <span class="menu-text">New Sale</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/ReturnInvoice">
                                            <span class="menu-text">Return</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/cancelInvoice">
                                            <span class="menu-text">Cancel Invoice</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/saleslist">
                                            <span class="menu-text">View Sales</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@AreaName/sale/GetInvoice">
                                            <span class="menu-text">Duplicate Invoice</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li class="hoe-has-menu">
                                        @*Sale Report Start*@
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-files-o"></i>
                                            <span class="menu-text">Reports</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="hoe-sub-menu">

                                            <li>
                                                <a href="/@AreaName/Masters/GetAccountType">
                                                    <span class="menu-text">Add Bank Account Type</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetPayMode">
                                                    <span class="menu-text">Add Payment Mode</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetBankAccount">
                                                    <span class="menu-text">Add Bank Account</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/@AreaName/Masters/GetCheque">
                                                    <span class="menu-text">Add Cheque</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>@*Global Master Bank Menu End*@
                                </ul>
                            </li> @*Global Master Menu End*@

                            @*Sales Reports Menu End*@
                            <li class="hoe-has-menu">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-files-o"></i>
                                    <span class="menu-text">Reports</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="/@AreaName/Reports/GetStatements">
                                            <span class="menu-text">Sales Statement</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li> @*Sales Reports Menu End*@

                            <li>
                                <a href="\@AreaName\settings\GetSetting">
                                    <i class="fa fa-tachometer"></i>
                                    <span class="menu-text">Sales Setting</span>
                                    <span class="selected"></span>
                                </a>
                            </li>

                        }
                        <li class="hoe-has-menu">
                            <a href="javascript:void(0)">
                                <i class="fa fa-envelope-o"></i>
                                <span class="menu-text">Tools</span>
                                <span class="selected"></span>
                            </a>
                            <ul class="hoe-sub-menu">
                                <li>
                                    <a href="/Global/main/home">
                                        <span class="menu-text">Global Setting </span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/StockManagement/Stock/Main">
                                        <span class="menu-text">Stock Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/EmployeesManagement/Employee/home">
                                        <span class="menu-text">Employee Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/CustomersManagement/Customer/dashboard">
                                        <span class="menu-text">Customer Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/SalesManagement/sale/dashboard">
                                        <span class="menu-text">Sales Management</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </aside>
            <section id="main-content" style="min-height: 279px;">
                <div class="inner-content">
                    @{
                        string message = string.Empty;
                        string alert = string.Empty;
                        if (ViewBag.message != null || TempData["messages"] != null)
                        {
                            message = ViewBag.message == null ? TempData["messages"] : ViewBag.message;
                            alert = ViewBag.alert == null ? TempData["alert"] : ViewBag.alert;
                            if (string.IsNullOrEmpty(alert))
                            {
                                alert = "info";
                            }
                            <div class="modal fade" id="myModal" role="dialog" style="overflow:hidden;overflow-y:hidden;">
                                <div class="modal-dialog" style="position: absolute;left: 31%;top: 22%;">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header @alert">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">
                                                @if (@alert == "success")
                                                {
                                                    <text>Success</text>
                                                }
                                                else if (@alert == "info")
                                                {
                                                    <text>Information</text>
                                                }
                                                else if (@alert == "danger")
                                                {
                                                    <text>Error</text>
                                                }
                                                else
                                                {
                                                    <text>Warning</text>
                                                }
                                                !
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>@message</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        ////Validation Summary Code
                        if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger text-center alert-dismissible" style="margin-top: 0px;position: fixed !important;width: 80% !important;display: inline-block;z-index: 100000000 !important;margin-left: 0% !important;" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Validation Error!</strong> @Html.ValidationSummary(false, "", new { @class = "validSummary" })
                            </div>
                        }
                    }
                    @RenderBody()
                </div>
            </section>
            <div id="styleSelector">
                <div class="selector-toggle">
                    <a href="javascript:void(0)"></a>
                </div>
                <ul>
                    <li>
                        <p class="selector-title">Style Selector</p>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Header BG Color Option</span>
                        <div id="theme-color">
                            <a href="#" class="header-bg" hoe-color-type="header-bg1">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg2">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg3">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg4">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg5">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg6">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg7">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg8">&nbsp;</a>
                            <a href="#" class="header-bg" hoe-color-type="header-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Left Panel BG Color Option</span>
                        <div id="theme-color">
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg1">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg2">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg3">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg4">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg5">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg6">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg7">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg8">&nbsp;</a>
                            <a href="#" class="lpanel-bg" hoe-color-type="lpanel-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Logo Color BG Option</span>
                        <div id="theme-color">
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg1">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg2">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg3">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg4">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg5">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg6">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg7">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg8">&nbsp;</a>
                            <a href="#" class="logo-bg" hoe-color-type="logo-bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Theme Background BG Option</span>
                        <div id="theme-color">
                            <a href="#" class="theme-bg" hoe-themebg-type="bg1">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg2">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg3">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg4">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg5">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg6">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg7">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg8">&nbsp;</a>
                            <a href="#" class="theme-bg" hoe-themebg-type="bg9">&nbsp;</a>
                        </div>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Theme Layout</span>
                        <select id="theme-layout" class="form-control minimal input-sm">
                            <option name="theme-layout" value="wide-layout">Wide Layout</option>
                            <option name="theme-layout" value="box-layout">Boxed Layout</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">SideBar Effect</span>
                        <select id="leftpanel-effect" class="form-control minimal input-sm">
                            <option name="lpanel-effect" value="shrink">Default</option>
                            <option name="lpanel-effect" value="overlay">Overlay</option>
                            <option name="lpanel-effect" value="push">Push</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Navigation Type</span>
                        <select id="navigation-type" class="form-control minimal input-sm">
                            <option name="navigation-type" value="vertical">Vertical</option>
                            <option name="navigation-type" value="vertical-compact">Vertical Compact</option>
                            <option name="navigation-type" value="horizontal">Horizontal</option>
                            <option name="navigation-type" value="horizontal-compact">Horizontal compact</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Navigation Side</span>
                        <select id="navigation-side" class="form-control minimal input-sm">
                            <option name="navigation-side" value="leftside">Left</option>
                            <option name="navigation-side" value="rightside">Right</option>
                        </select>
                    </li>
                    <li class="theme-option">
                        <span class="sub-title">Sidebar Position</span>
                        <select id="sidebar-position" class="form-control minimal input-sm">
                            <option name="sidebar-position" value="default">Default</option>
                            <option name="sidebar-position" value="fixed">Fixed</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Start Thumbnail Popup-->
    <div class="shop-thumbnail-pre">
        <div class="popup-header">
            <img src="~/Images/Icons/if_Close_Icon_1398919.png" id="popupclose" onclick="utility.popupClose()" title="Close" alt="close" style="float: right;padding-bottom: 5px;" />
        </div>
        <div class="shop-thumbnail-holder">
            <img src="~/Images/Icons/404.png" class="shop-thumbnail-img" />
        </div>
    </div>
    <!--End Thumbnail Popup-->
    <!-- Modal Start-->
    <div id="showModel" data-toggle="modal" data-target="#myModal"></div> <!--Model trigger point dont remove-->
    <div id="mainAlert" class="alert text-center alert-dismissible" style="margin-top: 0px;position: absolute !important;width: 70% !important;display: none;z-index: 100000000 !important;margin-left: 10% !important;top:60px;left:11%" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong id="alertColor">Validation Error!</strong> <span id="alertmessage"></span>
    </div>
    <div class="lock">
        <div class="row">
            <div class="col-lg-6" style="margin-left: 25%;margin-top: 15%;">
                <div style="text-align:center;color:white;"><h2 id="_layoutScreenLockMsg">Your Screen is locked</h2></div>
                <hr />
                <div class="input-group">
                    <input type="password" class="form-control" autocomplete="off" id="_layoutUnlockPassword" placeholder="Enter your account password..">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="_layoutUnlockScreen" type="button">Unlock!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/hoe.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $('#myModal').modal();
        let interval = setInterval(function () {
            let height = $('body').css('height');
            if (height == 'auto !important') {
                clearInterval(interval);
            }
            else {
                //$('body').css({ 'height': '1000px !important' });
            }
        }, 100)

        //Assign active arrow to the current menu
        $('aside li').removeClass('active');
        $('aside a').each(function (ind, ele) {
            if ($(ele).attr('href').toLowerCase() == location.pathname.toLowerCase()) {

                if ($(ele).parent().parent().hasClass('hoe-sub-menu')) {
                    $(ele).parent().parent().parent().find('a:first-child').click();
                }
                $('aside li').removeClass('active');
                $(ele).parent().addClass('active');
            }
        });

        $(document).on('click', '#_layoutUnlockScreen', function () {
            let $password = $('#_layoutUnlockPassword');
            utility.ajaxHelper(app.urls.CommonController.CheckPassword, { password: $password.val() }, function (data) {
                if (data) {
                    $('.lock').hide(500);
                    $password.val('');
                }
                else {
                    $('#_layoutScreenLockMsg').text('Password is invalid');
                    setTimeout(function () {
                        $('#_layoutScreenLockMsg').text('Your Screen is locked');
                    }, 2000);
                }
            });
        });

        $(document).on('click', '#_layoutLockScreen', function () {
            $('.lock').show(500);
            return false;
        });
    });
</script>
<style>
     .lock {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000000a3;
            z-index: 99999999999;
            display: none;
        }
    .danger {
        background-color: #ff00007d;
    }

    .info {
        background-color: rgba(0, 188, 212, 0.5);
    }

    .warning {
        background-color: rgba(212, 147, 0, 0.5);
    }

    .success {
        background-color: rgba(0, 128, 0, 0.50);
    }
    .modal-open {
        margin-right: 0px !important;
    }
</style>